includes:
	- tests/phpstan/configs/encapsulated-packet-sucks.neon
	- vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
	level: 9
	paths:
		- src
		- tools
	reportUnmatchedIgnoredErrors: false #enabling this makes build results too volatile when phpstan bugs get fixed
	ignoreErrors:
		-
			message: "#^Call to function assert\\(\\) with false and 'received packet…' will always evaluate to false\\.$#"
			count: 1
			path: src/generic/ReceiveReliabilityLayer.php
