parameters:
	ignoreErrors:
		-
			message: '#^Only numeric types are allowed in \+, int\|null given on the left side\.$#'
			identifier: plus.leftNonNumeric
			count: 1
			path: ../../../src/generic/ReceiveReliabilityLayer.php

		-
			message: '#^Parameter \#2 \$value of static method pmmp\\encoding\\Byte\:\:writeUnsigned\(\) expects int, int\|null given\.$#'
			identifier: argument.type
			count: 1
			path: ../../../src/protocol/EncapsulatedPacket.php

		-
			message: '#^Parameter \#2 \$value of static method pmmp\\encoding\\LE\:\:writeUnsignedTriad\(\) expects int, int\|null given\.$#'
			identifier: argument.type
			count: 3
			path: ../../../src/protocol/EncapsulatedPacket.php

